node{
	width: 50;
	height: 50;
	text-halign: center;
	text-valign: center;
	min-zoomed-font-size: 12px;
	font-size: 10px;
	color: white;
	text-outline-color: mapData(nodeLevel, 0, 4, orange, red);
	text-outline-width: 2px;
	content: data(display);
	background-color: mapData(nodeLevel, 0, 4, orange, red);
	border-opacity: 0;
}
node:selected{
	border-color: rgb(63,81,181);
	border-width: 1em;
	border-opacity: 1;
}

edge{
	events: no;
	line-color: mapData(nodeLevel, 0, 4, orange, red);
}
